.navbar
	a.navbar-item.navbar-logo(href="/#")
		.navbar-logo-text Nom
		.navbar-logo-text Nom
	a(href="/#slide/dogs/1").navbar-item
		i.fa.fa-book
	a(href="/#stats/dogs").navbar-item
		i.fa.fa-bar-chart