.navbar
	position: fixed
	left: 0
	top: 0
	width: 4rem
	height: 100%
	background: $darkGray
	color: $lightGray
	display: flex
	flex-direction: column
	.navbar-item
		height: 4rem
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		border-bottom: 1px solid $gray
		cursor: pointer
		text-decoration: none
		transition: color, background .2s ease-in
		&:visited
			color: $lightGray
		&:not(.navbar-logo):hover
			background: $yellow
			color: black
		&.navbar-logo
			color: white
			font-size: 16px
			font-weight: bold
			text-transform: uppercase
			&:hover
				color: $yellow