.navbar(class="{{route}}-route")
	a.navbar-item.navbar-logo(href="/#")
		.navbar-logo-text Nom
		.navbar-logo-text Nom
	a(href="/#slide/dogs/1").navbar-item.nav-slide
		i.fa.fa-book
	a(href="/#stats/dogs").navbar-item.nav-stats
		i.fa.fa-bar-chart