.slides-viewer
	.slides-viewer-header
	.slides-viewer-content
		border: 1px solid $grayBorder
	.slides-viewer-header
		display: flex
		justify-content: space-between
		align-items: center
		h4
			display: none
	.slides-viewer-content
		padding: 2rem
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		min-height: 20rem
		color: #7A7A7A
		.slide-item
			overflow: hidden
			h2
				color: black
			img
				max-height: 20rem
				margin: 1rem 2rem 2rem 0
			p
				margin: 0
				text-align: justify
				
@media only screen and (min-width: $screenSmall)
	.slides-viewer
		margin: 2rem 4rem
		.slides-viewer-header
			h4
				display: block
				color: $grayFont
				text-transform: uppercase