body
	font-family: 'FontAwesome', arial, sans-serif
	color: #353535
	text-align: center
	padding: 0
	margin: 0
	padding-left: 4rem
	
// colors
$darkGray = #222
$gray = #2e2e2e
$lightGray = #a6a6a6
$yellow = #fec833
// end colors

*
	box-sizing: border-box