body
	font-family: 'FontAwesome', arial, sans-serif
	color: #353535
	text-align: center
	padding: 0
	margin: 0
	padding-left: 4rem
	
// colors
$darkGray = #222
$gray = #2e2e2e
$lightGray = #a6a6a6
$grayHover = #fbfbfb
$grayFont = #bfbfbf
$grayBorder = #f0f0f0
$yellow = #fec833
// end colors

*
	box-sizing: border-box
	
.button
	border: 1px solid $grayBorder
	padding: .7rem 2.5rem
	margin: 1rem
	cursor: pointer
	color: $grayFont
	transition: color, background .2s ease-in
	user-select: none
	&:hover
		color: black
		background: $grayHover